{
  "semi": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 80,
  "proseWrap": "never",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "useTabs": true
}
